# Node / frontend
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# C++ / build
build/
cmake-build-*/
*.o
*.a
*.so
*.exe

# IDEs
.vscode/
.idea/
*.swp

# Python notebooks
*.ipynb_checkpoints/

# Env files
.env
config/*.env
config/env.local
