# Example environment variables for SoundCanvas

# Used later by gateway service
SC_AWS_REGION=us-east-1
SC_S3_IMAGE_BUCKET=soundcanvas-images
SC_S3_AUDIO_BUCKET=soundcanvas-audio

# C++ service
SC_TF_SERVING_URL=http://tf-serving:8501
